.pending-homepage {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(227, 227, 227);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    padding: 20px;
  }
  
  .homepage-block {
    background-color: rgb(96, 96, 96);
    color: white;
    margin: 42px 12px 42px 12px;
    padding: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
  }

  .pending-details {
    font-weight: 900;
  }